.main {
  width: 300px;
  flex-wrap: wrap;
  margin: 2px;
}
.category {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28571em;
  color: rgb(72, 72, 72);
  margin: 8px;
  width: 125px;
  height: 20px;
  float: left;
}
.line {
  position: absolute;
  height: 21px;
  margin-right: 5px;
  z-index: 2;
}
.under {
  height: 20px;
  width: 100px;
  margin-right: 5px;
  z-index: 1;
}
.numbers {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28571em;
  color: rgb(72, 72, 72);
  margin: 0px;
}
